# Mix 会将编译的产物写入的目录。
/_build/

# 如果你运行 "mix test --cover"，覆盖率报告的资源会写入此目录。
/cover/

# Mix 下载依赖的源码到的目录。
/deps/

# 第三方工具（如 ExDoc）生成文档的输出目录。
/doc/

# 忽略 .fetch 文件，以防你想本地编辑项目依赖。
/.fetch

# 如果虚拟机崩溃，会生成 dump 文件，也忽略它。
erl_crash.dump

# 忽略归档构建文件（通过 "mix archive.build" 创建）。
*.ez

# 临时文件，例如测试过程中生成的。
/tmp/
